.about-content{
    padding-top: 25px;
}

.nosk-section, .open-section, .promotion-section{
    padding: 15px !important;
    color: white;
    font-size: 25px;
}
.nosk-section{
    background-color: #2e2459;
}
.open-section{
    background-color: #0b7261;
}
.promotion-section{
    background-color: #a72145;
}
.br-purple{
    border-bottom: 5px solid #2e2459;
}
.br-red{
    border-bottom: 5px solid #a72145;
}
.sub-topic{
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-size: 2.75rem;
    line-height: 1.25;
    font-weight: 800;
    display: inline-flex !important;
}

.responsive-image{
    max-width: 100%;
    height: auto;
}

/* mobile screen */
@media (max-width:450px){
    .about-nosk{
        display: flex !important;
        flex-direction: column !important;
    }
}

@media (max-width:460px){
    .nosk-image, .open-image{
        height: 260px;
        width: 380px;
    }
}
