.sub-topic{
   font-size: x-large;
}
.sub-topic span {
    border-bottom: black solid 1px;
}

main{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

.intro-nosk {
    display: flex;
    flex-direction: row;
}

.responsive-image{
    padding: 25px;
    min-width: 100%;
}

/* mobile screen */
@media (max-width:771px){
    .intro-nosk{
        display: flex !important;
        flex-direction: column !important;
    }
    .responsive-image{
        width: 100px;
    }
}
