.about-heading{
    display: inline-block;
    font-size:xx-large;
    margin: 0;
    padding: 0;
    font-weight: 900;
    border-bottom: 4px solid blue;
    text-align: center;
    color: green;
}

.about-content{
    padding-top: 25px;
    width: 82vw;
    margin: auto;
    font-size: large;
}

.about-section{
    margin-bottom: 20px;
    margin-top: 10px;
    min-height: 100vh;
}

.about-image{
    text-align: center;
}

.photo-of-nosk,.open-source{
    height: 350px;
}
.photo-of-sfd, .photo-of-event{
    height: 200px;
}
.main-about{
    border: 1px solid pink;
    color: #ffffff;
}
.nosk-section, .open-section, .promotion-section{
    padding: 35px !important;
}
.nosk-section{
    background-color: #2e2459;
}
.open-section{
    background-color: #0b7261;
}
.promotion-section{
    background-color: #a72145;
}
.br-purple{
    border-bottom: 5px solid #2e2459;
}
.br-red{
    border-bottom: 5px solid #a72145;
}
.sub-topic{
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-size: 2.75rem;
    line-height: 1.25;
    font-weight: 800;
    display: inline-block !important;
}

@media (max-width:575px){
    .photo-of-sfd, .photo-of-event{
        height: 150px;
    }
}

/* mobile screen */
@media (max-width:450px){
    .about-nosk{
        display: flex !important;
        flex-direction: column !important;
    }
    .photo-of-nosk{
        height: 150px;
    }
    .photo-of-sfd, .photo-of-event{
        height: 100px;
    }
    .open-source{
        height: 200px;
    }
}

