/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Roboto+Slab:wght@400;700&display=swap");

body {
  line-height: 1.6;
  color: #333;
}

main {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;

  margin: 0 auto;
  padding: 2rem;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Semi-transparent white background */
  border-radius: 8px;
  backdrop-filter: blur(5px); /* Adds a slight blur effect to the background */
}

.sub-topic {
  font-family: "Roboto Slab", serif;
  font-size: 2rem;
  font-weight: 700;
  color: #2c3e50;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.sub-topic span {
  border-bottom: 3px solid #3498db;
}

.intro-nosk {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.intro-nosk p {
  margin-bottom: 1rem;
}

.responsive-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 35px;
  margin-right: 35px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
  padding-left: 1.5rem;
}

.pointers li {
  margin-bottom: 0.5rem;
}

a {
  color: #2980b9;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.social-link {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  font-weight: 500;
}

.social-link i {
  font-size: 1.8rem;
  line-height: 1;
}

/* Make flex row for larger screens */
@media (min-width: 768px) {
  .social-links {
    flex-direction: row;
  }
}

/* Responsive design */
@media (max-width: 768px) {
  .intro-nosk {
    flex-direction: column;
  }

  .sub-topic {
    font-size: 1.75rem;
  }

  main {
    font-size: 1rem;
    padding: 1.5rem;
  }
}
