/* Custom CSS for contact Us form */
form{
    background-color: #fff;
    padding: 20px;
    border-top:1px solid #ccc;
	border-right:1px solid #ccc;
    /* border-left:1px solid #ccc; */
    border-top-right-radius:20px;
	border-bottom-right-radius:20px;
    margin: 5em auto;
    box-shadow: 0 5px 5px rgba(0,0,0,.4);
}

label{
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 16pt;
}

input[type="text"],input[type="email"], textarea[type="text"] {
    background-color: rgba(255, 248, 220, 0.235);
    border: rgb(46, 85, 7) solid 2px;
    font-size: 15pt;
    color: rgb(46, 85, 7);
    font-style: bold;
}

.submit{
    margin-top: 40px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: green;
    color: white;
    font-size: larger;
    padding-left: 135px;
    padding-right: 135px;
}

.submit:hover{
    background-color: yellowgreen;
}
