*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sec-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 20px;
}

.sec-container .heading{
  width: 50%;
  padding-bottom: 50px;
}
.sec-container .heading h1{
  font-size: 1.5em;
  font-weight: 100%;
  padding-bottom: 5px;
  /* border-bottom: 0.5px solid black; */
}

.sec-container .box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }
 
 .sec-container .box .img-col{
   display: flex;
   flex-direction: column;
   width: 32.5%;
 }
 
 .sec-container .box .img-col img{
   width: 100%;
   padding-bottom: 15px;
   border-radius: 5px;
 }

 /* BACK to top button  */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

 @media only screen and (max-width: 769px){
  .sec-container .box{
    flex-direction: column;
  }

  .sec-container .box .img-col{
    width: 100%;
  }
}

@media only screen and (max-width: 643px){
  .sec-container .heading{
    width: 100%;
  }
  .sec-container .heading h1{
    font-size: 1em;
  
  }
}