.my-header{
   height: 100vh;
   display:flex;
   flex-direction: column;
   background: url(https://images.unsplash.com/photo-1674582221299-3a930cbda1db?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80);
   padding: 5px;
}
.navbar{
    margin: 15px;
}
.navbar-brand img{
    float: left !important;
}
#nav-list{
  margin-top: 10px;
}

#nav-list a {
  color: #000000;
  text-align: center;
  font-size: 24px;
}
#nav-list a:hover {
  border-bottom: 3px solid rgb(53, 56, 52);
}
.nav-link{
    font-size: 22px;
}
.brand-name{
    font-family: "Alfa Slab One", 'serif' ;
    font-size: 4.5rem;
    text-align:right;
    line-height: 0.5;
    font-weight: 300;
    letter-spacing: 1px;
    position: relative;
    color: green;
    z-index: 99999999;
}
.description-text{
    font-family:  'Unbounded',  cursive;
    font-weight:250;
    line-height: 3;
    font-size: 2rem;
    text-align: center;
}

.brand-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:5px;
    margin: 10px;
}

.jumbotron{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:5px;
    margin: 30px;
}

.jumbotron a{
    text-decoration: none;
}

/* Text beneath club logo*/
.fullform{
    position: relative;
    margin-top: -30px;
    font-size: 12px;
}

.about-us{
    padding: 10px;
    font-size: 22px;
    background-color: rgb(15, 47, 84);
    color: white;
    border-radius: 5px;
}
.about-us a{
    text-decoration: none;
    color: white;
    text-align: center;
}
.about-us:hover{
   background-color: #25a0c6;
   cursor: pointer;
   border: 1 px solid white;
}
.our-info{
    padding: 5px;
    margin: 15px;
}
/* BACK to top button  */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }
/* mobile screen */
@media (max-width:450px){
    .description-text{
        line-height: 1.25;
        font-size: 1.25rem;
        margin-top: 8px;
    }
}