img{
    float: left !important;
}
#nav-list{
  margin-top: 10px;
}
#nav-list a {
  color: #000000;
  text-align: center;
  font-size: 20px;
}
#nav-list a:hover {
  background: #E7E7E7;
  font-size: 18px;
  border-bottom: 5px solid purple;
}
.brand-name{
    font-family: "Alfa Slab One", serif;
    font-size: 6rem;
    margin-bottom: 2px;
    margin-top: 0;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 1px;
    position: relative;
    z-index: 99999999;
}
.description-text{
    font-weight: 300;
    line-height: 1.25;
    font-size: 2rem;
    margin-top:3rem;
    margin-bottom:0;
}

.jumbotron a{
    text-decoration: none;
    word-break: keep-all;
}
.what-we-do{
    padding: 15px;
    background-color:#fcd11e;
    color: black;
    border:none;
    outline: none;
    font-size:25px;
    text-align: center;
}
.what-we-do:hover{
    font-size:26px
}

.social-media{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.what-is-nosk{
    background-color: #2e2459;
    color: #ffffff;
}
.sub-header{
    display: inline-block;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-size: 1.75rem;
    line-height: 1.25;
    font-weight: 800;
    border-bottom: 5px solid #ffffff;
}

/* mobile screen */
@media (max-width:450px){
    .our-info{
        display: flex;
        flex-direction: column;
    }
    .social-media{
        justify-content: center;
    }
    .description-text{
        line-height: 1.25;
        font-size: 1.25rem;
    }
}